{% extends "blog/base.html" %}

{% block title %}
    編輯文章：{{ article.title }} - Django 大冒險
{% endblock title %}

{% block blog_content %}
    <nav aria-label="breadcrumb" class="d-none d-md-block mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'blog:article_list' %}">文章列表</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'blog:article_detail' article_id=article.id %}">{{ article.title }}</a>
            </li>
            <li class="breadcrumb-item active">
                編輯
            </li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">
                編輯文章
            </h2>

            {% url 'blog:article_detail' article_id=article.id as cancel_url %}
            {% include "blog/components/article_form.html" with submit_text="儲存變更" show_reset=False %}
        </div>
    </div>
{% endblock blog_content %}
