{% extends "blog/base.html" %}

{% block title %}
    文章列表 - Django 大冒險
{% endblock title %}

{% block blog_content %}
    <h2 class="mb-4">
        文章列表
    </h2>
    <div class="row">
        {% for article in articles %}
            {% include "blog/components/article_card.html" %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info">
                    目前沒有文章
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock blog_content %}
